p {
    margin: 0;
}

ul {
    margin: 0;
    list-style: none;
}

li {
    width: 100px;
    text-align: center;
}

.profile {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(218, 214, 214);
}

.description {
    width: 300px;
    border-radius: 10px 10px 0px 0px;
    padding: 40px 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    text-align: center;
    
}

.avatar {
    margin-bottom: 10px;
    width: 100px;    
    height: 100px;
    border-radius: 50%;

}

.name {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 1.5;
    font-weight: 600;

}

.tag {
    color: gray;
    margin-bottom: 10px;
}

.location {
    font-size: 18px;
    color: gray;
}

.stats{
    padding: 20px;
    display: flex;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(242, 236, 236);
    border: 1px solid rgb(203, 199, 199);

}

.label{
    margin-bottom: 5px;
    display: block;
    color: gray;
}

.quantity{
    font-weight: 600;
    font-size: 20px;
}